.manage-user {
  .input-field {
    width: 100%;
  }

  .form-field__label {
    font-size: $x-small;
    font-weight: $bold;
  }

  &__email-help-text {
    display: block;
  }

  &__preference-setting {
    margin: 24px 0;
  }

  .button-wrap {
    width: 100%;
    justify-content: flex-end;
  }
}
